#  ___ __  __ ___ __  __ ___
# | _ \  \/  |_  )  \/  |   \
# |  _/ |\/| |/ /| |\/| | |) |
# |_| |_|  |_/___|_|  |_|___/
#
# PM2MD - Postman to Markdown
# https://pm2md.com
#
# Copyright (c) Sebastien Rousseau 2022 - 2023. All rights reserved
# Licensed under the MIT license
# See LICENSE file in the project root for full license information.

registry=https://registry.npmjs.org/
@sebastienrousseau:registry=https://registry.npmjs.org/
